/* ============================================= */
/*              Images                           */
/* ============================================= */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;

    & img {
        width: 100%;
        text-align: center;
    }
}


.img-item {
    position: relative;
    width: 100%;
    
    @include mq("medium") {
        width: 30%;
        margin-left: 0;
        margin-right: 0;
      }

    @include mq("large") {
        width: 20%;
        margin-left: 1.5em;
        margin-right: 1.5em;
        overflow: hidden;

        &:hover .img-desc {
            transform: translateY(0)
        }
      }
}

.img-desc {
    position: absolute;
    z-index: 9;
    bottom: .2em;
    left: 0em;
    right: 0em;
    color:white;
    background: rgba(0,0,0, .6);

    @include mq("large") {
        transform: translateY(150%);
    }
}

/******************************************
    Chocolat Lightbox JQuery Plugin
******************************************/
.chocolat-overlay {
    background-color: black;
}

.chocolat{
    &-bottom {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
       @include mq("medium") {
           flex-direction: row-reverse;
           justify-content: center;
       }
   }

   &-description {
        color: white;
        text-align: center;
        @include mq("medium") {
        width: 90%;
        }
    }

    &-pagination {
        @include mq("medium") {
            width: 5%;
        }
    }

    .chocolat-fullscreen {
        @include mq("medium") {
            width: 5%;   
        }
    }
    
    &-wrapper .chocolat-pagination {
        @include mq("medium") {
            margin: 0;
            padding: 0;
        }
    }
}






