/* ============================================= */
/*              Search Bar                       */
/* ============================================= */
.search {
    padding: 15px 0;
}

input {
    width: 80%;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: .5em 1.875em .5em .223em;
    margin-top: .223em;
}
