/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: $font-stack-primary;
    box-sizing: border-box;
  }
  
  
  a {
    text-decoration: none;
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  